body {
   font-family: Verdana, sans-serif;
}

.header-subtitle 
{
   font-size: 26px;
   margin-left: 25%;
   margin-right: 25%;
   font-weight: 100;
}

.header-menu {
   
   float: right; 
   margin-top: 23px;
}
.kanye-img {
   width: 266px;
   margin-top: 56px;
   margin-bottom: 56px;
}

.firstrow {
   color: white;
    padding-left: 7%;
    padding-right: 7%;
}

li a {
   text-decoration: none;
   color: black;
}

.table-title {
   font-size: 19px;
   color: #00B172;
   font-weight: bolder;
}

.table-subtitle {
   padding-left: 20%;
    padding-right: 20%;
    color: grey;
}

.headerimage {
    background-image: url('landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    MARGIN-TOP: 54PX;
 }
 
 .pagemargin {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
 }
 
 .texto-encima{
    padding-top: 93px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 63px !important;
   font-weight: 600 !important;
 }

 h1 {
   font-size: 63px !important;
   font-weight: 600 !important;
 }
 
 .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 .image {
    position: center;
 }

 .menu {
   width: 100%;
   float: left;
 }
 
 .menu ul li {
   float: right;
   list-style-type: none;
   text-align: left;
 }
 
 .menu ul li a {
   padding: 10px;
 }
